#question_set_name {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 2.5rem;
}

#question {
    font-size: 0.7rem;
    font-weight: lighter;
}

#help-button {
    margin-top: 20px;
}

#next-button {
    margin-top: 20px;
}
