#question_set_name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 2.5rem;
}

#question {
    font-size: 1.5rem;
}

#help-button {
    margin-top: 20px;
    margin-left: 442px;
}

#next-button {
    margin-top: 20px;
}
