#end-message {
    font-size: 3.5rem;
    font-weight: 500;
    margin-top: 80px;
    margin-left: 50px;
}

#link-generation-site {
    margin-left: 360px;
    margin-bottom: 50px;
}

.button {
    padding-top: 100px;
    height: 50px;
}