#review-page-title {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 75px;
}

#questions-accordion {
    margin-bottom: 100px;
}

#nav-buttons {
    margin-top: 20px;
    margin-left: 250px;
}

.panel-header {
    background-color: gainsboro;
}